[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado-prometheus = "*"

[dev-packages]
black = "*"
bandit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
